body {
  height: 100vh;
  background-color: #f4f3f8;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navMid {
  display: flex;
  gap: 2rem;
  font-family: Abel;
  font-size: 1.5rem;
}

#navEnd {
  display: flex;
  gap: 2rem;
}

@media screen and (max-width: 768px)  {
  #navMid {
    display: none;
  }

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #imgMain {
    position: absolute;
    width: 30%;
    right: 0;
    bottom: 0;
  } 
}

#imgMain {
  position: absolute;
  width: 30%;
  right: 0;
  bottom: 0;
} 

#monstera {
  font-family: Allerta;
  font-weight: bolder;
  font-size: 120px;
}

.list-items {
  display: flex;
  flex-direction: column;
}

li {
  font-family: Abel;
  font-weight: bold;
  font-size: 25px;
  max-width: 600px;
}

li:nth-child(1) {
  position: relative;
  top: 100px;
}

#midWholePart11 {
  position: relative;
  top:-100px;
}

/* li {
  width: 600px;
}

li:nth-child(1) {
  font-weight: bold;
  font-size: 25px;
}

li:nth-child(2) {
  position: relative;
  top: -80px;
  font-weight: bold;
  font-size: 25px;
}

li:nth-child(3) {
  position: relative;
  font-family: Abel;
  font-weight: bold;
  font-size: 25px;
  top: -80px;
} 

li:nth-child(4) {
  position: relative;
  font-family: Abel;
  font-weight: bold;
  font-size: 25px;
  top: -80px;
}

*/

#midWholePart121 {
  display: flex;
  align-items: center;
  gap:6px;
  background-color: #466D50;
  width: 150px;
  color: white;
  border-radius: 40px;
  padding: 0 3rem;
  font-family: Abel;
  position: relative;
  top: -100px;
}

#midWholePart13 {
  display: flex;
  align-items: center;
  position: relative;
  top: -100px;
  margin-top: 2rem;
  width: 70%;
}

.midWholePart13Parts {
  display: flex;
}

.midWholePart13Parts img {
}






/* 
.box1 {
  position: relative;
  left: 100px;
  top: -90px;
}

#light {
  position: relative;
  left: 90px;
}

.box2 {
  position: relative;
  left: 140px;
  top: -60px;
}

#care {
  position: relative;
  left: 160px;
  top: 10px;
}

.box3 {
  position: relative;
  left: 240px;
  top: -60px;
}

#midWholePart122 {
  position: relative;
  left: 210px;
  top: -95px;
} */
