body {
  height: 100vh;
  background-color: #f4f3f8;
  font-family: Abel;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

#midWhole {
  padding: 0 2rem;
}

#navMid {
  display: flex;
  gap: 2rem;
  font-family: Abel;
  font-size: 1.5rem;
}

#navEnd {
  display: flex;
  gap: 2rem;
}

@media screen and (max-width: 768px)  {
  #navMid {
    display: none;
  }

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #imgMain {
    position: absolute;
    width: 30%;
    right: 0;
    bottom: 0;
  } 


}

#imgMain {
  position: absolute;
  width: 30%;
  right: 0;
  bottom: 0;
} 

#monstera {
  font-family: Allerta;
  font-weight: bolder;
  font-size: 120px;
}

.list-items {
  display: flex;
  flex-direction: column;
}

li {
  font-family: Abel;
  font-weight: bold;
  font-size: 25px;
  max-width: 600px;
}

li:nth-child(1) {
  position: relative;
  top: 100px;
}

#midWholePart11 {
  position: relative;
  top:-100px;
}


#midWholePart121 {
  display: flex;
  align-items: center;
  gap:6px;
  background-color: #466D50;
  width: 150px;
  color: white;
  border-radius: 40px;
  padding: 0 3rem;
  font-family: Abel;
  position: relative;
  top: -100px;
}

#midWholePart13 {
  display: flex;
  align-items: center;
  position: relative;
  top: -100px;
  margin-top: 2rem;
  width: 60%;
  gap: 2rem;
}

.midWholePart13Parts {
  display: flex;
  gap:10px;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  #midWholePart13 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -100px;
    margin-top: 2rem;
    width: 60%;
    gap: 2rem;
  }

    
  #monstera {
    font-family: Allerta;
    font-weight: bolder;
    font-size: 50px;
  }

  li:nth-child(1) {
    position: relative;
    top: 70px;
  }
}






